@charset "utf-8"

* {box-sizing: border-box;}

body {
    background-color: white;
    font-family: 'Proxima Nova Light', sans-serif;
}

.container {
    margin: auto;
    }

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url('/fonts/ProximaNova-Light.eot');
    src: url('/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/ProximaNova-Light.woff') format('woff'),
    url('/fonts/ProximaNova-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('/fonts/ProximaNova-Semibold.eot');
    src: url('/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/ProximaNova-Semibold.woff') format('woff'),
    url('/fonts/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

.navbar-wrapping {
    display: flex;
    align-items: center;
    min-height: 80px;
    border-bottom: 1 px solid grey;
    }

.logo__text {
    margin-right: 30px;
}