<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="..static/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>
  <body>
  <header class="header">
    <div class="navbar">
      <div class="container">
        <div class="navbar-wrapping">
          <div class="navbar__logo">
            <strong class="logo__text">Настеновна</strong>
            <span class="logo__description">картинки</span>
          </div>
          <input type="text" class="navbar_search_input" placeholder="search for anything" />
          <button class="navbar__button">get picture</button>
        </div>
      </div>
    </div>
    <div class="menu_categories">
      <div class="container">
        <div class="menu_nav">
          <a href="#" class="categories__link">Все</a>
          <a href="/tag/animals" class="categories__link">Животные</a>
          <a href="/tag/family" class="categories__link">Семья</a>
          <a href="/tag/nature" class="categories__link">Природа</a>
          <a href="/tag/other" class="categories__link">Другое</a>
        </div>
      </div>
    </div>
    <div class="gallery">
    {% for picture in pictures %}
      <div class="gallery-container">
        <div class="picture-block">
          <div class="picture-img">
            <img src="{{ picture.path }}" width="180"/>
          </div>
          <div class="picture-tag-block">
            <div class="picture-tag">{{ picture.tag }}</div>
            <div class="likes">
              <div class="picture-likes">{{ picture.likes }}</div>
              <div class="picture-likes-image">
            </div>
              <img src="static/images/heart.png" width="15" height="15"/>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </header>
    <script src="static/index.js"></script>
  </body>
</html>